<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>697</integer>
    <key>capHeight</key>
    <integer>697</integer>
    <key>copyright</key>
    <string>Copyright 2025 zeankun &amp; The Hanken Grotesk Project Authors</string>
    <key>descender</key>
    <integer>-303</integer>
    <key>familyName</key>
    <string>Stick Sans</string>
    <key>guidelines</key>
    <array/>
    <key>openTypeNameDesigner</key>
    <string>Alfredo Marco Pradil &amp; Zean Isnomo</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>zeankun &amp; Hanken Design Co.</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://hanken.co</string>
    <key>openTypeOS2VendorID</key>
    <string>HDCO</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>14</integer>
    <key>xHeight</key>
    <integer>493</integer>
  </dict>
</plist>
